.auto-sel-cont {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.auto-sel-cont:hover, .auto-sel-cont:focus {
    background-color: #2980B9;
}

.auto-sel {
    position: relative;
    display: inline-block;
}

.auto-sel-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.auto-sel-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.auto-sel a:hover {background-color: #ddd;}

